{% if site.theme_settings.katex and page.id %}
<script src="{{ "/assets/js/katex_init.js" | relative_url }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<p style="text-align: center; color: #888;">
  본문 읽기 <span id="busuanzi_value_page_pv"></span>회 | 
  전체 방문자 <span id="busuanzi_value_site_uv"></span>명
</p>
