<header class="site-header">
	<div class="branding">
		<h1 class="site-title">
			<a href="{{ "/" | relative_url }}" style="font-size: 1.5em; font-weight: bold; letter-spacing: -1px; text-transform: none;">
				{{ site.title }}
			</a>
		</h1>
	</div>
	
	<nav class="site-nav">
		<ul>
			{% for link in site.navigation %}
			<li>
				<a class="page-link" href="{{ link.url | relative_url }}">
					{{ link.title }}
				</a>
			</li>
			{% endfor %}
			
			{% include icons.html %}

			{% if site.theme_settings.search %}
			<li>
			<form action="{{ site.baseurl }}/search.html" method="get">
				<input type="text" id="search-box" name="query" placeholder="Search">
				<button type="submit">
					<i class="fa fa-fw fa-search"></i>
				</button>
			</form>
			</li>
			{% endif %}
		</ul>
	</nav>
</header>
